.main-form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  box-sizing: border-box;
  .form__message{
      height: 50px;
      width: 900px;
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
      position: absolute;
    .icon{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
  }
  .form__submit{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
    float: right;
  }
  .form__mask{
      font-size: 1.3rem;
      left: 900px;
      top: 10px;
      cursor: pointer;
      position: relative;
    .hidden {
      display: none;
    }
  }
}




