
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

@mixin clearfix() {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}




.wrapper{
 height: 100%;
 width: 100%;
 @include clearfix();

}


 // @include clearfix();
